{% include 'header.html' %}

{% for empleado in empleados %}
<form method="post" action="/update" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>

            <input type="hidden" value="{{ empleado[0] }}" name="txtID" id="txtID">

            <div class="form-group">
                <label for="txtNombre"> Nombre:</label>
                <input id="txtNombre" value=" {{ empleado[1] }} " class="form-control" type="text" name="txtNombre">
            </div>

        
            <div class="form-group">
                <label for="txtCorreo">Correo:</label>
                <input id="txtCorreo" value=" {{ empleado[2] }} " class="form-control" type="text" name="txtCorreo">
            </div>
        
            <div class="form-group">
                <label for="txtFoto">Foto:</label>
                <img  class="img-thumbnail" width="100" src=" {{url_for('uploads',nombreFoto=empleado[3])}}" alt="">
                <input id="txtFoto" class="form-control" type="file" name="txtFoto">
            </div>

            <div class="form-group">
                <input class="btn btn-success"  class="form-control" type="submit" value="Editar">
                <a href="{{ url_for('index') }}" class="btn btn-primary" >Regresar</a>
            </div>


        </div>
    </div>


</form>

{% endfor %}


{% include 'footer.html' %}